<!DOCTYPE html>
<html lang="en">
<head>
    <head th:include="partials/header :: head">
    </head>


    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet"/>

    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
    <script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
    <script defer src="/js/about-us.js"></script>

    <!--    <title>GeekGuild &mdash; Unite, Collaborate, Geek Out!</title>-->
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="/css/about-general.css"/>
    <link rel="stylesheet" href="/css/about-style.css"/>
    <link rel="stylesheet" href="/css/about-queries.css"/>

</head>

<body>
<header class="header">
    <a href="#">
        <img
                class="logo"
                alt="GeekGuild logo"
                src="/img/gglogo.png"
        />
    </a>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="#how">How it works</a></li>
            <li><a class="main-nav-link" href="#testimonials">Testimonials</a></li>
            <li><a class="main-nav-link" href="#about">About us</a></li>
            <li><a class="main-nav-link nav-cta" href="/register">Register/Login</a></li>
        </ul>
    </nav>

    <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
</header>

<section class="section-hero">
    <div class="hero">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                Unite
            </h1>

            <h1 class="heading-primary">
                Collaborate
            </h1>
            <h1 class="heading-primary">
                Geek Out
            </h1>
            <p class="hero-description">
                Join the Ultimate Tech Enthusiast Community. Geek Guild: The revolutionary app blending Stack
                Overflow and Facebook for tech enthusiasts and professionals. Connect, collaborate, and grow in a
                vibrant online community.
            </p>
            <a href="/register" class="btn btn--full margin-right-sm"
            >Start connecting</a
            >
            <a href="#how" class="btn btn--outline">Learn more &darr; </a>
            <div class="delivered-meals">
                <div class="delivered-imgs">
                    <img
                            src="/img/customers/44.jpg"
                            alt="Customer photo"
                    />
                    <img
                            src="/img/customers/46.jpg"
                            alt="Customer photo"
                    />
                    <img
                            src="/img/customers/1.jpg"
                            alt="Customer photo"
                    />
                    <img
                            src="/img/customers/8.jpg"
                            alt="Customer photo"
                    />
                    <img
                            src="/img/customers/12.jpg"
                            alt="Customer photo"
                    />
                    <img
                            src="/img/customers/16.jpg"
                            alt="Customer photo"
                    />
                </div>
                <p class="delivered-text">
                    <span>10</span> users created in the last year!
                </p>
            </div>
        </div>

        <div class="hero-img-box">
            <picture>
                <!--                    <source srcset="/img/profile.png" type="image/png"/>-->
                <!--                    <source srcset="/img/groups.png" type="image/png"/>-->
                <img
                        src="/img/gglogo.png"
                        class="hero-image"
                        alt="images of the GeekGuild App"
                />
            </picture>
        </div>
    </div>
</section>
<!--    <section class="section-featured">-->
<!--        <div class="container">-->
<!--            <h2 class="heading-featured-in">As featured in</h2>-->
<!--            <div class="logos">-->
<!--                <img src="content/img/logos/techcrunch.png" alt="Techcrunch logo"/>-->
<!--                <img-->
<!--                        src="content/img/logos/business-insider.png"-->
<!--                        alt="Business insider logo"-->
<!--                />-->
<!--                <img-->
<!--                        src="content/img/logos/the-new-york-times.png"-->
<!--                        alt="New York Times logo"-->
<!--                />-->
<!--                <img src="content/img/logos/forbes.png" alt="Forbes logo"/>-->
<!--                <img src="content/img/logos/usa-today.png" alt="USA Today logo"/>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<section class="section-how" id="how">
    <div class="container">
        <span class="subheading-step">How it works</span>
        <h2 class="heading-step">
            Begin connecting with other Geeks!
        </h2>
    </div>

    <div class="container grid grid--2-cols grid--center-v">
        <!-- STEP 01 -->
        <div class="step-text-box">
            <p class="step-number">01</p>

            <h3 class="heading-tertiary">
                Personalize Your Presence
            </h3>
            <p class="step-description">
                Geek Guild allows you to customize your profile, making it uniquely yours. Add a professional bio,
                showcase your tech stack, and upload a captivating avatar to leave a lasting impression on the
                community.
            </p>
        </div>

        <div class="step-img-box">
            <img
                    src="/img/profile.png"
                    class="step-img"
                    alt="iPhone app preferences selection screen"
            />
        </div>

        <!-- STEP 02 -->
        <div class="step-img-box">
            <img
                    src="/img/news-mob.png"
                    class="step-img"
                    alt="iPhone app meal approving plan screen"
            />
        </div>

        <div class="step-text-box">
            <p class="step-number">02</p>

            <h3 class="heading-tertiary">Connect with others</h3>
            <p class="step-description">
                Geek Guild provides a platform to connect with a diverse and thriving community of tech enthusiasts.
                Find new friends, discover mentors, and collaborate with like-minded individuals to broaden your
                professional network.
            </p>
        </div>

        <!-- STEP 03 -->
        <div class="step-text-box">
            <p class="step-number">03</p>

            <h3 class="heading-tertiary">Forge your own guilds</h3>
            <p class="step-description">
                Bring together individuals who are passionate about the same tech topics as you. Allowing you to
                foster a tight-knit community where members can collaborate, share insights, and support each
                other's growth.
            </p>
        </div>

        <div class="step-img-box">
            <img
                    src="/img/profile.png"
                    class="step-img"
                    alt="iPhone app delivery screen"
            />
        </div>
    </div>
</section>

<!-- TESTIMONIALS -->

<section class="section-testimonials" id="testimonials">
    <div class="testimonials-container">
        <span class="subheading">Testimonials</span>
        <h2 class="heading-secondary">Hear from our Geeks</h2>
        <div class="testimonials">
            <!-- Testimonial 1 -->
            <figure class="testimonial">
                <img
                        class="testimonial-img"
                        src="/img/instructors/DocRob.jpg"
                        alt="photo of Doc Rob"
                />
                <blockquote class="testimonial-text">
                    After crunching for 5 straight days, trying to meet a brutal deadline for an autonomous driving
                    vehicle, I just could not figure out how to synchronize memory access between the separate threads
                    in the program. Well, Geekguild to the rescue!! Forget StackOverflow. Forget ChatGPT. Geekguild is
                    where code really lives!
                </blockquote>
                <p class="testimonial-name">&mdash; Doc Rob</p>
            </figure>

            <!-- Testimonial 2 -->

            <figure class="testimonial">
                <img
                        class="testimonial-img"
                        src="/img/instructors/Lola.jpg"
                        alt="photo of Lola"
                />
                <blockquote class="testimonial-text">
                    "Moving to another a state separated me from my hometown project buddies. Geekguild really helped
                    bring us all back together to continue to learn and build. "
                </blockquote>
                <p class="testimonial-name">&mdash; Lola Castillo</p>
            </figure>

            <!-- Testimonial 3 -->

            <figure class="testimonial">
                <img
                        class="testimonial-img"
                        src="/img/instructors/Josh.jpg"
                        alt="photo of Joshua Rooks"
                />
                <blockquote class="testimonial-text">
                    "Geek Guild enriches my tech journey. The vibrant community fosters collaboration and networking.
                    Found my job here! Truly revolutionary!"
                </blockquote>
                <p class="testimonial-name">&mdash; Joshua Rooks</p>
            </figure>

            <!-- Testimonial 4 -->

            <figure class="testimonial">
                <img
                        class="testimonial-img"
                        src="/img/instructors/trevor.jpg"
                        alt="photo of Trevor"
                />
                <blockquote class="testimonial-text">
                    "Geek Guild redefines online tech communities. Expertise meets social engagement, creating an
                    unparalleled learning environment. Join now!"
                </blockquote>
                <p class="testimonial-name">&mdash; Trevor Mullis</p>
            </figure>
        </div>
    </div>


    <!-- COHORT PHOTOS -->

    <div class="gallery">
        <figure class="gallery-item">
            <img
                    src="/img/cohort/Liam.jpeg"
                    alt="Photo of Liam"
            />
        </figure>
        <figure class="gallery-item">
            <img
                    src="/img/cohort/Tyresz.jpg"
                    alt="Photo of Tyresz"
            />
        </figure>
        <figure class="gallery-item">
            <img
                    src="/img/cohort/Jakira.jpeg"
                    alt="Photo of ...."
            />
        </figure>
        <figure class="gallery-item">
            <img
                    src="/img/cohort/random/hshot10.jpeg"
                    alt="Photo of ...."
            />
        </figure>
        <figure class="gallery-item">
            <img
                    src="/img/cohort/Joseph.jpg"
                    alt="Photo of ...."
            />
        </figure>
        <figure class="gallery-item">
            <img
                    src="/img/cohort/tim.png"
                    alt="Photo of ...."
            />
        </figure>
        <figure class="gallery-item">
            <img
                    src="/img/cohort/random/hshot5.jpeg"
                    alt="Photo of ...."
            />
        </figure>
        <figure class="gallery-item">
            <img
                    src="/img/cohort/random/hshot6.jpeg"
                    alt="Photo of ...."
            />
        </figure>
        <figure class="gallery-item">
            <img
                    src="/img/cohort/random/hshot7.jpeg"
                    alt="Photo of ...."
            />
        </figure>
        <figure class="gallery-item">
            <img
                    src="/img/cohort/random/hshot8.jpeg"
                    alt="Photo of ...."
            />
        </figure>
        <figure class="gallery-item">
            <img
                    src="/img/cohort/random/hshot9.jpeg"
                    alt="Photo of ...."
            />
        </figure>
        <figure class="gallery-item">
            <img
                    src="/img/cohort/random/hshot1.jpg"
                    alt="Photo of ...."
            />
            <!-- <figcaption>Caption</figcaption> -->
        </figure>
    </div>
</section>

<!-- MEET THE TEAM -->
<section class="about" id="about">
    <div class="container center-text">
        <span class="subheading">Meet the team</span>
        <h2 class="heading-secondary">
            Brought to you by the GeekSquad </h2>
    </div>
    <div class="container grid grid--4-cols margin-bottom-md">
        <div class="meal">
            <img
                    src="/img/geeksquad/theo.jpg"
                    class="meal-img"
                    alt="Photo of Theo"
            />
            <div class="meal-content">
                <div class="meal-tags">
                    <span class="tag tag--vegetarian">Front-End</span>
                </div>

                <p class="meal-title">Theodoric Graham</p>
                <ul class="meal-attributes">
                    <li class="meal-attribute">
                        <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                        <span><strong>LinkedIn: </strong>link</span>
                    </li>
                    <li class="meal-attribute">
                        <ion-icon
                                class="meal-icon"
                                name="restaurant-outline"
                        ></ion-icon
                        >
                        <span><strong>Student Portal: </strong>link</span>
                    </li>
                    <li class="meal-attribute">
                        <ion-icon class="meal-icon" name="star-outline"></ion-icon>
                        <span><strong>Github: </strong>link</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="meal">
            <img
                    src="/img/geeksquad/luis.jpeg"
                    class="meal-img"
                    alt="Luis Oliverez"
            />
            <div class="meal-content">
                <div class="meal-tags">
                    <span class="tag tag--vegetarian">Front-End</span>
                </div>

                <p class="meal-title">Luis Oliverez</p>
                <ul class="meal-attributes">
                    <li class="meal-attribute">
                        <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                        <span><strong>LinkedIn: </strong>link</span>
                    </li>
                    <li class="meal-attribute">
                        <ion-icon
                                class="meal-icon"
                                name="restaurant-outline"
                        ></ion-icon
                        >
                        <span><strong>Student Portal: </strong>link</span>
                    </li>
                    <li class="meal-attribute">
                        <ion-icon class="meal-icon" name="star-outline"></ion-icon>
                        <span><strong>Github: </strong>link</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="meal">
            <img
                    src="/img/geeksquad/Connie.jpg"
                    class="meal-img"
                    alt="Consuella Moore"
            />
            <div class="meal-content">
                <div class="meal-tags">
                    <span class="tag tag--vegetarian">Front-End</span>
                </div>

                <p class="meal-title">Consuella Moore</p>
                <ul class="meal-attributes">
                    <li class="meal-attribute">
                        <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                        <span><strong>LinkedIn: </strong>link</span>
                    </li>
                    <li class="meal-attribute">
                        <ion-icon
                                class="meal-icon"
                                name="restaurant-outline"
                        ></ion-icon
                        >
                        <span><strong>Student Portal: </strong>link</span>
                    </li>
                    <li class="meal-attribute">
                        <ion-icon class="meal-icon" name="star-outline"></ion-icon>
                        <span><strong>Github: </strong>link</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="meal">
            <img
                    src="/img/geeksquad/Ray.png"
                    class="meal-img"
                    alt="Ray Glass"
            />
            <div class="meal-content">
                <div class="meal-tags">
                    <span class="tag tag--vegetarian">Back-End</span>
                </div>

                <p class="meal-title">Raymond Glass</p>
                <ul class="meal-attributes">
                    <li class="meal-attribute">
                        <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                        <span><strong>LinkedIn: </strong>link</span>
                    </li>
                    <li class="meal-attribute">
                        <ion-icon
                                class="meal-icon"
                                name="restaurant-outline"
                        ></ion-icon
                        >
                        <span><strong>Student Portal: </strong>link</span>
                    </li>
                    <li class="meal-attribute">
                        <ion-icon class="meal-icon" name="star-outline"></ion-icon>
                        <span><strong>Github: </strong>link</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--        <div class="container all-recipes">-->
<!--            <a href="#" class="link"> See all recipes &rarr; </a>-->
<!--        </div>-->

<!--    <section class="section-pricing" id="features">-->
<!--        <div class="container">-->
<!--            <span class="subheading">Pricing</span>-->
<!--            <h2 class="heading-secondary">-->
<!--                Eating well without breaking the bank-->
<!--            </h2>-->
<!--        </div>-->

<!--        <div class="container grid grid&#45;&#45;2-cols margin-bottom-md">-->
<!--            <div class="pricing-plan pricing-plan&#45;&#45;starter">-->
<!--                <header class="plan-header">-->
<!--                    <p class="plan-name">Starter</p>-->
<!--                    <p class="plan-price"><span>$</span>399</p>-->
<!--                    <p class="plan-text">per month. That's just $13 per meal!</p>-->
<!--                </header>-->
<!--                <ul class="list">-->
<!--                    <li class="list-item">-->
<!--                        <ion-icon class="list-icon" name="checkmark"></ion-icon>-->
<!--                        <span>1 meal per day</span>-->
<!--                    </li>-->
<!--                    <li class="list-item">-->
<!--                        <ion-icon class="list-icon" name="checkmark"></ion-icon>-->
<!--                        <span>Order from 11am to 9pm</span>-->
<!--                    </li>-->
<!--                    <li class="list-item">-->
<!--                        <ion-icon class="list-icon" name="checkmark"></ion-icon>-->
<!--                        <span>Delivery is free</span>-->
<!--                    </li>-->
<!--                    <li class="list-item">-->
<!--                        <ion-icon class="list-icon" name="close"></ion-icon>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <div class="plan-sign-up">-->
<!--                    <a href="#" class="btn btn&#45;&#45;full">Start eating well</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="pricing-plan pricing-plan&#45;&#45;complete">-->
<!--                <header class="plan-header">-->
<!--                    <p class="plan-name">Complete</p>-->
<!--                    <p class="plan-price"><span>$</span>649</p>-->
<!--                    <p class="plan-text">per month. That's just $11 per meal!</p>-->
<!--                </header>-->
<!--                <ul class="list">-->
<!--                    <li class="list-item">-->
<!--                        <ion-icon class="list-icon" name="checkmark"></ion-icon>-->
<!--                        <span><strong>2 meals</strong> per day</span>-->
<!--                    </li>-->
<!--                    <li class="list-item">-->
<!--                        <ion-icon class="list-icon" name="checkmark"></ion-icon>-->
<!--                        <span>Order <strong>24/7</strong> </span>-->
<!--                    </li>-->
<!--                    <li class="list-item">-->
<!--                        <ion-icon class="list-icon" name="checkmark"></ion-icon>-->
<!--                        <span>Delivery is free</span>-->
<!--                    </li>-->
<!--                    <li class="list-item">-->
<!--                        <ion-icon class="list-icon" name="checkmark"></ion-icon>-->
<!--                        <span>Get access to lastest recipes</span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <div class="plan-sign-up">-->
<!--                    <a href="#" class="btn btn&#45;&#45;full">Start eating well</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="container grid">-->
<!--            <aside class="plan-details">-->
<!--                Prices include all applicable taxes. You can cancel at any time.-->
<!--                Both plans include the following-->
<!--            </aside>-->
<!--        </div>-->

<!--        <div class="container grid grid&#45;&#45;4-cols">-->
<!--            <div class="feature">-->
<!--                <ion-icon class="feature-icon" name="infinite"></ion-icon>-->
<!--                <p class="feature-title">Never cook again!</p>-->
<!--                <p class="feature-text">-->
<!--                    Our subscriptions cover 365 days per year, even including major-->
<!--                    holidays.-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="feature">-->
<!--                <ion-icon class="feature-icon" name="nutrition-outline"></ion-icon>-->
<!--                <p class="feature-title">Local and organic</p>-->
<!--                <p class="feature-text">-->
<!--                    Our cooks only use local, fresh, and organic products to prepare-->
<!--                    your meals.-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="feature">-->
<!--                <ion-icon class="feature-icon" name="leaf-outline"></ion-icon>-->
<!--                <p class="feature-title">No waste</p>-->
<!--                <p class="feature-text">-->
<!--                    All our partners only use reusable containers to package all your-->
<!--                    meals.-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="feature">-->
<!--                <ion-icon class="feature-icon" name="pause-outline"></ion-icon>-->
<!--                <p class="feature-title">Pause anytime</p>-->
<!--                <p class="feature-text">-->
<!--                    Going on vacation? Just pause your subscription, and we refund-->
<!--                    unused days.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--    <section class="section-cta" id="cta">-->
<!--        <div class="container">-->
<!--            <div class="cta">-->
<!--                <div class="cta-text-box">-->
<!--                    <h2 class="heading-secondary">Get your first meal for free!</h2>-->
<!--                    <p class="cta-text">-->
<!--                        Healthy, tasty and hassle-free meals are waiting for you. Start-->
<!--                        eating well today. You can cancel or pause anytime. And the-->
<!--                        first meal is on us!-->
<!--                    </p>-->

<!--                    <form class="cta-form" name="sign-up" netlify>-->
<!--                        <div>-->
<!--                            <label for="full-name">Full Name</label>-->
<!--                            <input-->
<!--                                    id="full-name"-->
<!--                                    type="text"-->
<!--                                    placeholder="John Smith"-->
<!--                                    name="full-name"-->
<!--                                    required-->
<!--                            />-->
<!--                        </div>-->

<!--                        <div>-->
<!--                            <label for="email">Email address</label>-->
<!--                            <input-->
<!--                                    id="email"-->
<!--                                    type="email"-->
<!--                                    placeholder="me@example.com"-->
<!--                                    name="email"-->
<!--                                    required-->
<!--                            />-->
<!--                        </div>-->

<!--                        <div>-->
<!--                            <label for="select-where">Where did you hear from us?</label>-->
<!--                            <select id="select-where" name="select-where" required>-->
<!--                                <option value="">Please choose one option:</option>-->
<!--                                <option value="friends">Friends and family</option>-->
<!--                                <option value="youtube">YouTube Video</option>-->
<!--                                <option value="podcast">Podcast</option>-->
<!--                                <option value="ad">Facebook ad</option>-->
<!--                                <option value="others">Others</option>-->
<!--                            </select>-->
<!--                        </div>-->

<!--                        <button class="btn btn&#45;&#45;form">Sign up now</button>-->

<!--                        &lt;!&ndash;-->
<!--                        <input type="checkbox" />-->
<!--                        <input type="number" /> &ndash;&gt;-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div-->
<!--                        class="cta-image-box"-->
<!--                        role="img"-->
<!--                        aria-label="Women enjoying food"-->
<!--                ></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<footer class="footer">
    <div class="container grid grid--footer">
        <div class="logo-col">
            <a href="#" class="footer-logo">
                <img
                        class="bottom-logo"
                        alt="GeekGuild logo"
                        src="/img/gglogo.png"
                />
            </a>

            <ul class="social-links">
                <li>
                    <a class="footer-link" href="#"
                    >
                        <ion-icon class="social-icon" name="logo-instagram"></ion-icon
                        >
                    </a>
                </li>
                <li>
                    <a class="footer-link" href="#"
                    >
                        <ion-icon class="social-icon" name="logo-facebook"></ion-icon
                        >
                    </a>
                </li>
                <li>
                    <a class="footer-link" href="#"
                    >
                        <ion-icon class="social-icon" name="logo-twitter"></ion-icon
                        >
                    </a>
                </li>
            </ul>

            <p class="copyright">
                Copyright &copy;<span class="year">2023</span> by Geekguild, Inc. All
                rights reserved.
            </p>
        </div>
        <div class="address-col">
            <p class="footer-heading">Contact Us</p>
            <address class="contacts">
                <p class="address">
                    999 Virtual Dr., San Francisco, CA 94107
                </p>
                <p>
                    <a class="footer-link" href="tel:999-999-4335">999-999-GEEK</a>
                    <br/>
                    <a class="footer-link" href="mailto:hello@geekguild.com">hello@geekguild.com</a>
                </p>
            </address>
        </div>

        <nav class="nav-col">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">Create account </a></li>
                <li><a class="footer-link" href="#"> Sign in </a></li>
                <li><a class="footer-link" href="#"> iOS app </a></li>
                <li><a class="footer-link" href="#">Android app </a></li>
            </ul>
        </nav>

        <nav class="nav-col">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">About GeekGuild </a></li>
                <li><a class="footer-link" href="#"> For Business </a></li>
                <li><a class="footer-link" href="#"> Partners </a></li>
                <li><a class="footer-link" href="#">Careers </a></li>
            </ul>
        </nav>

        <nav class="nav-col">
            <p class="footer-heading">Resources</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">Code Directory </a></li>
                <li><a class="footer-link" href="#"> Help center </a></li>
                <li><a class="footer-link" href="#"> Privacy & terms </a></li>
            </ul>
        </nav>
    </div>
</footer>
</body>
</html>