<!DOCTYPE html>


<div th:fragment="navbar">

    <link rel="stylesheet" href="/css/navbar.css">


    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home">
                <img width="60" src="https://cdn.filestackcontent.com/xajY09uFTyOwyLdR6SLl">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Groups
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/groups">Groups</a></li>
<!--                            <li><a class="dropdown-item" href="#">Group 2</a></li>-->
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/about-us">About us</a></li>
                        </ul>
                    </li>
                </ul>


                <!--NEW FRIEND REQUEST MODAL BUTTON  -->

                <button data-bs-toggle="modal" data-bs-target="#receivedFriendRequestModal" class="btn btn-primary" id="newFriendRequestBtn" data-bs-placement="bottom" title="New Friend Request">
                    <i class="bi bi-person-plus"></i>
                    <span id="friendRequestBadge" class="badge badge-danger badge-pill">0</span>
                </button>



                <form th:action="@{/login}" th:method="post" id="logout">
                    <button class="btn logout-button" type="submit">Logout</button>
                </form>


                <!--NEW FRIEND REQUEST MODAL-->
                <div class="modal fade" id="receivedFriendRequestModal" tabindex="-1" role="dialog"
                     aria-labelledby="receivedFriendRequestModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="receivedFriendRequestModalLabel">New Friend Request
                                    Received</h5>
                            </div>
                            <div class="modal-body">
                                <div th:each="request : ${requests}">

                                    <!-- Modal content here -->
                                    <img th:src="${request.sender.image}" alt="Profile Picture"
                                         class="profile-img">
                                    <p th:text="${request.sender.firstname + ' ' + request.sender.lastname}"></p>
                                    <p th:text="${request.receiver.firstname + ' ' + request.receiver.lastname}"></p>
                                    <p th:text="${request.status}"></p>
                                    <div class="modal-footer">
                                        <form th:action="@{/friends/{requestId}/accept(requestId=${request.id})}" method="post" id="acceptFriendRequest">
<!--                                            <input type="hidden" name="receiverId" value="1"/>-->
                                            <button type="submit" class="btn btn-primary">Accept</button>
                                        </form>
                                        <form th:action="@{/friends/{requestId}/reject(requestId=${request.id})}" method="post" id="rejectFriendRequest">
<!--                                            <input type="hidden" name="receiverId" value="1"/>-->
                                            <button type="submit" class="btn btn-danger">Decline</button>
                                        </form>
<!--                                        <form th:action="@{/friends/{requestId}/accept(requestId=${request.id})}" method="post">-->
<!--                                            <button type="submit">Accept</button>-->
<!--                                        </form>-->
<!--                                        <form th:action="@{/friends/{requestId}/reject(requestId=${request.id})}" method="post">-->
<!--                                            <button type="submit" >Reject</button>-->
<!--                                        </form>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--                <div th:each="request : ${requests}">-->
                    <!--                    <p th:text="${request.sender.firstname + ' ' + request.sender.lastname}"></p>-->
                    <!--                    <p th:text="${request.receiver.firstname + ' ' + request.receiver.lastname}"></p>-->
                    <!--                    <p th:text="${request.status}"></p>-->
                    <!--                    <form th:action="@{/friends/{requestId}/accept(requestId=${request.id})}" method="post">-->
                    <!--                        <button type="submit">Accept</button>-->
                    <!--                    </form>-->
                    <!--                    <form th:action="@{/friends/{requestId}/reject(requestId=${request.id})}" method="post">-->
                    <!--                        <button type="submit" >Reject</button>-->
                    <!--                    </form>-->

                    <!--                </div>-->

                    <!-- Bootstrap Tooltip JavaScript -->
                    <!--                <script>-->
                    <!--                    &lt;!&ndash;BOOTSTRAP TOOLTIP HOVER(SHOWING THE ELEMENTS TITLE)&ndash;&gt;-->
                    <!--                    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))-->
                    <!--                    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {-->
                    <!--                        return new bootstrap.Tooltip(tooltipTriggerEl)-->
                    <!--                    });-->


                    <!--                <form class="d-flex" role="search">-->
                    <!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                    <!--                    <button class="btn search-button" type="submit">Search</button>-->




                    <script>
                        const link = document.querySelector("#logout-link");
                        if (link !== null) {
                            link.addEventListener("click", function (event) {
                                document.getElementById("logout").submit();
                            });
                        }

                    </script>


                    <!-- Place this JavaScript code below the existing JavaScript code -->

                    <script>
                        // This function updates the friend request badge with the provided count
                        function updateFriendRequestBadge(count) {
                            const badge = document.getElementById("friendRequestBadge");
                            if (badge) {
                                badge.innerText = count.toString();
                            }
                        }

                        // Example usage: Call this function with the actual count of friend requests
                        const friendRequestCount = 3; // Replace this with the actual count of received friend requests
                        updateFriendRequestBadge(friendRequestCount);
                    </script>


                </div>

        </div>
    </nav>
</div>


</html>