<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Suggested Friend Card</title>
    <link rel="stylesheet" href="/css/suggested-friends.css">


</head>
<body>
<div th:each="user : ${notFriends}">
    <div class="card-container">
        <!--BANNER-->
<!--        <img th:if="${user.banner != null and user.banner != ''}" th:src="${user.banner}" alt="Profile Picture" class="banner-img" />-->
<!--        <img th:unless="${user.banner != null and user.banner != ''}" src="/img/coderain.gif" alt="Default Profile Picture" class="banner-img" />-->

        <img src="/img/coderain.gif" alt="Profile Banner" class="banner-img">

        <!--PROFILE PIC-->
        <img th:if="${user.image != null and user.image != ''}" th:src="${user.image}" alt="Profile Picture" class="profile-img" />
        <img th:unless="${user.image != null and user.image != ''}" src="/img/logo-no-txt.jpeg" alt="Default Profile Picture" class="profile-img" />

        <!--        <img th:src="${user.image}" alt="Profile Picture" class="profile-img">-->

        <!--USER NAME-->
        <div class="name">
            <h3 th:text="${user.username}"></h3>
        </div>

        <!--TITLE-->
        <div class="headline">Software Engineer</div>
        <!-- CONNECT BUTTON -->
        <button data-bs-toggle="modal" data-bs-target="#confirmationModal" th:attr="data-username=${user.username}, data-userid=${user.id}"
                onclick="openConfirmationModal(this.getAttribute('data-username'), this.getAttribute('data-userid'))"
                class="connect-btn">
            <i class="icon fas fa-user-plus"></i> Connect
        </button>

    </div>
</div>
</body>
</html>
