<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Suggested Friend Card</title>
    <!--ANIMATION ON SCROLL LIBRARY LINK-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="stylesheet" href="/css/suggested-friends.css">


</head>
<body>
<!--<div >-->
    <div class="card-container" th:each="user : ${notFriends}" data-aos="fade">
        <!--BANNER-->
        <!--        <img th:if="${user.banner != null and user.banner != ''}" th:src="${user.banner}" alt="Profile Picture" class="banner-img" />-->
        <!--        <img th:unless="${user.banner != null and user.banner != ''}" src="/img/coderain.gif" alt="Default Profile Picture" class="banner-img" />-->

        <img src="/img/coderain.gif" alt="Profile Banner" class="banner-img">

        <!--PROFILE PIC-->
        <div class="profile-img-container">
        <img th:if="${user.image != null and user.image != ''}" th:src="${user.image}" alt="Profile Picture"
             class="profile-img"/>
        <img th:unless="${user.image != null and user.image != ''}" src="/img/logo-no-txt.jpeg"
             alt="Default Profile Picture" class="profile-img"/>
        </div>

        <!--USER NAME-->
        <div class="name">
            <h3 th:text="${user.firstname + ' ' + user.lastname}"></h3>
        </div>

        <!--TITLE-->
<!--        <div class="headline">Software Engineer</div>-->
        <!-- CONNECT BUTTON -->
        <button data-bs-toggle="modal" data-bs-target="#confirmationModal"
                th:attr="data-username=${user.firstname + '' + user.lastname}, data-userid=${user.id}"
                onclick="openConfirmationModal(this.getAttribute('data-username'), this.getAttribute('data-userid'))"
                class="connect-btn">
            <i class="icon fas fa-user-plus"></i> Connect
        </button>
    </div>

<!--</div>-->




<!--ANIMATION ON SCROLL LIBRARY SCRIPT-->
<script>
    AOS.init({
        duration: 800, // Adjust the animation duration as needed
        anchorPlacement: 'bottom-bottom', // Control when animations are triggered based on anchor position
        once: true, // Set to true to trigger animations only once
        easing: 'ease-in-out', // Specify the easing function for the animations
    });
</script>
</body>
</html>
