<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--CUSTOM CSS -->
    <link rel="stylesheet" href="/css/postCard.css">
</head>
<body>
<main>
    <div th:each="group : ${loggedInUserGroups}">
        <div class="post-card">
            <div class="user-profile">
                <img th:src="${group.image}"
                     alt="User Profile Image">
                <div th:text="${group.groupname}" class="username"></div>
                <div th:text="'Number of Members: ' + ${groupMembersCount[group.id]}"></div>
            </div>
        </div>
    </div>

</main>


</body>
</html>