<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>GeekGroup</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/profile.css">
  <head th:include="partials/header :: head">


</head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<h1>GeekGroup</h1>

<!--<h2 th:text="${groups.name}"></h2>-->
<h2 th:text="${group.groupname}" class="profile-title"></h2>

</body>
</html>