<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="UTF-8">
    <!--CUSTOM CSS -->
    <link rel="stylesheet" href="/css/postCard.css">
    <link rel="stylesheet" href="/css/create-group-modal.css">
    <link rel="stylesheet" href="/css/groups.css">
</head>
<body>
<main>
    <div class="top-bar">
        <h4 class="group-heading">
            Your Groups
            <button
                    data-bs-toggle="modal"
                    data-bs-target="#createGroupModal"
                    class="btn btn-primary"
                    id="createGroupBtn"
                    data-bs-placement="bottom"
                    title="Create Group">
                <i class="fas fa-plus"></i>
            </button>
        </h4>


        <!-- CREATE GROUP MODAL -->
        <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog"
             aria-labelledby="createGroupModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createGroupModalLabel">Create Group</h5>
                    </div>
                    <div class="modal-body">
                        <form th:object="${group}" th:action="@{/group/create}" method="post">
                            <div class="form-group">
                                <label for="groupName">Group Name</label>
                                <input th:field="*{groupname}" type="text" class="form-control" id="groupName" placeholder="Enter group name">
                            </div>
                            <div class="form-group">
                                <label for="groupBanner">Add Group Banner</label>
                                <input th:field="*{banner}" type="file" class="form-control" id="groupBanner">
                            </div>
                            <div class="form-group">
                                <label for="groupPhoto">Add Group Photo</label>
                                <input th:field="*{image}" type="file" class="form-control" id="groupPhoto">
                            </div>
                            <div class="form-group">
                                <label for="groupDescription">Group Description</label>
                                <textarea th:field="*{description}" class="form-control" id="groupDescription" rows="3"
                                          placeholder="Enter group description"></textarea>
                            </div>
                            <button type="submit" class="btn create-group-button">Create</button>
                            <button type="button" class="btn cancel-create-group-button" data-bs-dismiss="modal">Cancel</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- END OF CREATE GROUP MODAL -->
    </div>

    <div th:each="group : ${loggedInUserGroups}">
        <div class="post-card">

<!--            <div class="user-profile">-->
<!--                <img src="/img/javaphoto" alt="User Profile Image">-->
<!--                <div>-->
            <div class="user-profile">
                <img th:src="${group.image}"
                     alt="User Profile Image">
                <div>
                    <a th:href="@{'/group/' + ${group.id}}" class="groupname" th:text="${group.groupname}"></a>
                    <br>
                    <span th:text=" 'Number of Members: ' + ${groupMembersCount[group.id]}" class="members"></span>
                    <form th:action="@{/group/{groupId}/leave(groupId=${group.id})}" method="post">
                        <button type="submit" class="leave-button">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</main>

<script src="/js/friend-request-modal.js"></script>
</body>
</html>