<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GeekGroup</title>
    <link rel="stylesheet" href="/css/suggested-friends.css">



    </head>
<body>

<div class="suggested-groups-top-bar">
    <h5 class="group-heading">
        Suggested Groups
    </h5>
</div>

<div th:each="group : ${suggestedGroups}">

    <div class="card-container">
        <!--BANNER-->
                <img th:if="${user.banner != null and user.banner != ''}" th:src="${user.banner}" alt="Profile Picture" class="banner-img" />
                <img th:IF="${user.banner == null or user.banner == ''}" src="/img/coderain.gif" alt="Default Profile Picture" class="banner-img" />

<!--        <img src="/img/coderain.gif" alt="Profile Banner" class="banner-img">-->

        <!--PROFILE PIC-->
        <img width="30%"  th:if="${group.image != null and group.image != ''}" th:src="${group.image}"
             alt="Profile Picture" class="profile-img"/>
        <img width="30%" th:if="${group.image == null or group.image == ''}" src="/img/logo-no-txt.jpeg"
             alt="Default Profile Picture" class="profile-img"/>


        <!--GROUP NAME-->
        <div class="name">
            <h3 th:text="${group.groupname}"></h3>
        </div>

        <!-- CONNECT BUTTON -->
        <form th:action="@{/group/{groupId}/join(groupId=${group.getId()})}" method="post">
            <button class="connect-btn">
                <i class="icon fas fa-user-plus"></i> Connect
            </button>
        </form>

    </div>
</div>



</body>
</html>