<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Edit</title>
</head>
<body>

<h1>EDIT YOUR PROFILE</h1>

<h3>Profile Photo</h3>

<form id="edit-user-form" class="inline-form" th:action="@{/profile/{id}/edit(id=${user.getId()})}" th:method="post">
  <label for="username">Username</label>
  <input id="username" name="username" th:value="${user.username}" />
  <br>
  <label for="email">Email</label>
  <input id="email" name="email" th:value="${user.email}" />
  <br>
<!--  <label for="about_me">About Me</label>-->
<!--  <input id="about_me" name="about_me" th:value="${user.aboutMe}" />-->
<!--  <br>-->
<!--  <label for="hobbies">Hobbies</label>-->
<!--  <input id="hobbies" name="hobbies" th:value="${user.hobbies}" />-->
<!--  <br>-->
<!--  <label for="languages">Languages</label>-->
<!--  <input id="languages" name="languages" th:value="${user.languages}" />-->
<!--  <br>-->
<!--  <label for="social_linked_in">Social Media(LinkedIn)</label>-->
<!--  <input id="social_linked_in" name="social_linked_in" th:value="${user.socialLinkedIn}" />-->
<!--  <br>-->
<!--  <label for="social_git">Social Media(Git)</label>-->
<!--  <input id="social_git" name="social_git" th:value="${user.socialGit}" />-->
<!--  <br>-->
<!--  <label for="social_face_book">Social Media(Facebook)</label>-->
<!--  <input id="social_face_book" name="social_face_book" th:value="${user.socialFacebook}" />-->
  <br>
<!--  <button type="submit">Save Profile</button>-->

  <button id="edit-btn" class="waves-effect waves-light btn">Save Edit</button>
</form>

</body>
</html>