 <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Edit</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
            <link rel="stylesheet" href="/css/edit.css">
            <head th:include="partials/header :: head">

            </head>


        </head>
    <body>
    <div th:include="partials/navbar :: navbar"></div>

    <h2>Hello <span th:text="${user.firstname + ' ' + user.lastname}"></span></h2>
    <div class="profile-header-container">
        <!-- Cover Photo Container -->
        <div class="cover-photo" style="background-image: url('${user.coverPhoto}');">
            <a class="update-cover-icon" th:href="@{/profile/{id}/edit(id=${user.getId()})}">
                <i class="fas fa-camera"></i> Update Cover Photo
            </a>
        </div>

    <div class="icon-container">
        <button class="upload-icon" type="button">
            <i class="fas fa-camera"></i> Upload Image
        </button>
        <div class="logo-container">
            <img th:src="${user.image}" width="200" height="200" class="logo" alt="User Logo" />
    <form id="imageForm" method="post" action="/profile/upload">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" name="fileURL" id="fileURLInput"/>
    </form>
        </div>
    </div>
    </div>
    <div class="container">
        <h3>EDIT YOUR PROFILE</h3>
        <form id="edit-user-form" class="inline-form" th:action="@{/profile/{id}/edit(id=${user.getId()})}" th:method="post">
            <label for="name">name</label>
            <input id="name" name="name" type="text" th:value="${user.firstname + ' ' + user.lastname}" required />
            <br>
            <label for="email">Email</label>
            <input id="email" name="email" type="email" th:value="${user.email}" required />
            <br>
            <label for="about_me">About Me</label>
            <textarea id="about_me" name="about_me" rows="4">${user.about}</textarea>
            <br>
<!--            <label for="work">Work</label>-->
<!--            <input id="work" name="work" type="text" value="${user.work}" />-->
            <label for="work">Work</label>
            <select id="work-selection" name="work">
                <!-- Options for the "Work" field -->
                <option value="work.ask" th:selected="${user.work == 'work.ask'}">Ask me:</option>
                <option value="work.fact" th:selected="${user.work == 'work.fact'}">Fun fact:</option>
                <option value="work.help" th:selected="${user.work == 'work.help'}">I need help with:</option>
                <option value="work.learning" th:selected="${user.work == 'work.learning'}">I am currently earning:</option>
                <option value="working" th:selected="${user.work == 'working'}">I am working on:</option>
            </select>
            <input id="work" name="work" type="text" value="${user.work}" />
            <br>
            <label for="skills">Skills</label>
<!--            <select id="skill-selection" name="skills">-->
<!--                &lt;!&ndash; Options for the "Work" field &ndash;&gt;-->
<!--                <option value="language.Java" th:selected="${user.language == 'language.Java'}">Java</option>-->
<!--                <option value="language.C++" th:selected="${user.language == 'language.C++'}">C++</option>-->
<!--                <option value="language.Python" th:selected="${user.language == 'language.Python'}">Python</option>-->
<!--                <option value="language.HTML" th:selected="${user.language == 'languag.HTML'}">HTML</option>-->
<!--                <option value="language.CSS" th:selected="${user.language == 'language.CSS'}">CSS</option>-->
<!--                <option value="language.Javascript" th:selected="${user.language == 'skills.Javascript'}">Javascript</option>-->
<!--            </select>-->
            <input id="skills" name="skills" type="text" value="${user.language}" />
            <br>
            <label for="social_linked_in">Social Media (LinkedIn)</label>
            <input id="social_linked_in" name="social_linked_in" type="url" value="${user.socialLinkedIn}" />
            <br>
            <label for="social_git">Social Media (Git)</label>
            <input id="social_git" name="social_git" type="url" value="${user.socialGit}" />
            <br>
            <label for="social_face_book">Social Media (Facebook)</label>
            <input id="social_face_book" name="social_face_book" type="url" value="${user.socialFacebook}" />
            <br>
            <label for="projects">Projects</label>
            <input id="projects" name="projects" type="text" value="${user.projects}" />
            <br>
            <div class="button-group">
                <button type="submit" id="save-profile-btn">Save Profile</button>
                <br>
            </div>
            </form>
                <!-- Delete Task Form -->
                <form id="delete-user-form" class="inline-form" th:action="@{/profile/{id}/delete(id=${user.getId()})}" th:method="post">
                    <button id="delete-btn" class="orange-button">Delete Profile</button>
                </form>

    </div>

<!--<script>-->
<!--    $(document).ready(function() {-->
<!--    $('#delete-btn').on('click', function(event) {-->
<!--    event.preventDefault();-->

<!--    if (confirm('Are you sure you want to delete your profile?')) {-->
<!--    $('#delete-user-form').submit();-->
<!--    }-->
<!--    });-->
<!--    });-->
<!--</script>-->

        <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
        <script>
            const button = document.querySelector('.upload-icon');
            const image = document.querySelector('.logo');

            button.addEventListener('click', () => {
                const apiKey = 'APaRx6LcnR9W7kXg7lQw2z';
                const client = filestack.init(apiKey);
                const options = {
                    onUploadDone: (uploadResponse) => {
                        console.log('onUploadDone', uploadResponse);
                        const fileURL = uploadResponse.filesUploaded[0].url;
                        image.setAttribute('src', fileURL);

                        // Submit the fileURL to the server via the form
                        const fileURLInput = document.querySelector('#fileURLInput');
                        fileURLInput.value = fileURL;
                        document.getElementById('imageForm').submit();
                    }
                };
                client.picker(options).open();
            });



        </script>
    <footer th:replace="partials/footer :: footer"></footer>

    </body>
    </html>

