<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Edit</title>
</head>
<body>

<h1>EDIT YOUR PROFILE</h1>

<h3>Profile Photo</h3>

<form action="/register" method="POST">
  <label for="username">Username</label>
  <input id="username" name="username" />
<br>
  <label for="email">Email</label>
  <input id="email" name="email" />
  <br>
  <label for="about_me">About Me</label>
  <input id="about_me" name="about_me" />
  <br>
  <label for="hobbies">Hobbies</label>
  <input id="hobbies" name="hobbies" />
  <br>
  <label for="languages">Languages</label>
  <input id="languages" name="languages" />
  <br>
  <label for="social_linkedIn">Social Media(LinkedIn)</label>
  <input id="social_linkedIn" name="social_linkedIn" />
  <br>
  <label for="social_git">Social Media(Git)</label>
  <input id="social_git" name="social_git" />

</form>


<form id="edit-user-form" class="inline-form" th:action="@{/profile/{id}/edit(id=${user.getId()})}" th:method="post">
  <button id="edit-btn" class="waves-effect waves-light btn">Edit Profile</button>
</form>

</body>
</html>