<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link th:include="partials/header">

</head>
<body>
<div th:include="partials/navbar :: navbar"></div>
<div class="grid-container">

    <div class="left-section" th:include="partials/friend-card">Left Section</div>
    <div class="middle-section scroll-bar">
        <div class="create-post-container">
            <div class="profile-picture"
                 th:style="'background-image: url(' + ${user.image} + '); background-size: cover;'"></div>
            <div class="post-content">
                <form action="/home" method="post" th:object="${post}" th:action="@{/home}">
                    <!-- Post image upload section -->
                    <div>
                        <button type="button" class="upload-post-image">Upload Post Image</button>
                    </div>
                    <div>
                        <img th:src="${post.image}" width="200" height="200" class="post-image" id="uploadedPostImage"/>
                    </div>

                    <!-- Post body input section -->
                    <textarea th:field="*{body}" id="postBodyTextarea" placeholder="What's on your mind?"
                              required></textarea>

                    <div class="post-actions">
                        <button type="submit" class="submit-post" disabled>Submit</button>
                    </div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="image" id="postImageURLInput"/>
                </form>
            </div>
        </div>
        <div class="view-post-container" th:include="partials/postCard">
        </div>
    </div>
    <div class="right-section">
        <div class="top-right-section">
            <!-- container element in which TalkJS will display a chat UI -->
            <div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px">
                <i>Loading chat...</i>
            </div>
        </div>
        <div th:include="partials/suggested-friend" class="bottom-right-section">Bottom Right Section</div>
    </div>
</div>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script>
    const postImageButton = document.querySelector('.upload-post-image');
    const postImage = document.querySelector('.post-image');
    const postImageURLInput = document.querySelector('#postImageURLInput');
    const postBodyTextarea = document.querySelector('#postBodyTextarea');
    const submitButton = document.querySelector('.submit-post');

    postImageButton.addEventListener('click', () => {
        const apiKey = 'APaRx6LcnR9W7kXg7lQw2z';
        const client = filestack.init(apiKey);
        const options = {
            onUploadDone: (uploadResponse) => {
                console.log('onUploadDone', uploadResponse);
                const postImageURL = uploadResponse.filesUploaded[0].url;
                postImage.setAttribute('src', postImageURL);
                postImageURLInput.value = postImageURL; // Store the postImageURL in the hidden input field.
                enableSubmitButton();
            }
        };
        client.picker(options).open();
    });

    function enableSubmitButton() {
        if (postImageURLInput.value && postBodyTextarea.value.trim() !== '') {
            submitButton.disabled = false;
        }
    }

    postBodyTextarea.addEventListener('input', () => {
        enableSubmitButton();
    });
</script>
<!-- minified snippet to load TalkJS without delaying your page -->
<script>
    (function (t, a, l, k, j, s) {
        s = a.createElement('script');
        s.async = 1;
        s.src = "https://cdn.talkjs.com/talk.js";
        a.head.appendChild(s)
        ;k = t.Promise;
        t.Talk = {
            v: 3, ready: {
                then: function (f) {
                    if (k) return new k(function (r, e) {
                        l.push([f, r, e])
                    });
                    l
                        .push([f])
                }, catch: function () {
                    return k && new k()
                }, c: l
            }
        };
    })(window, document, []);
</script>
<script>
    function openTalkJSChat(friendID, friendUsername, userID, userUsername) {
        Talk.ready.then(function () {
            var me = new Talk.User({
                id: userID,
                name: userUsername,
                email: 'alice@example.com',
                photoUrl: 'https://talkjs.com/images/avatar-1.jpg',
                welcomeMessage: 'Hey there! How are you? :-)',
            });
            window.talkSession = new Talk.Session({
                appId: 'tUloHvfB',
                me: me,
            });
            var other = new Talk.User({
                id: friendID,
                name: friendUsername,
                email: 'Sebastian@example.com',
                photoUrl: 'https://talkjs.com/images/avatar-5.jpg',
                welcomeMessage: 'Hey, how can I help?',
            });

            var conversation = talkSession.getOrCreateConversation(
                Talk.oneOnOneId(me, other)
            );
            conversation.setParticipant(me);
            conversation.setParticipant(other);

            var inbox = talkSession.createInbox({selected: conversation});
            inbox.mount(document.getElementById('talkjs-container'));
        });
    }
</script>
<script th:include="partials/footer"></script>
</body>

</html>
