<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
<!--    <title>Log In</title>-->
    <title th:text="${title}"></title>
<!--BOOTSTRAP CSS-->
    <link th:include="partials/header">

<!--CUSTOM CSS -->
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>

<!--<div th:include="partials/navbar :: navbar"></div>-->

<div th:if="${param.error}" class="message">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}" class="message">
    You have been logged out.
</div>
<div class="logo-container">
    <div class="logo">
        <img th:src="@{/img/gglogo.png}" alt="GeekGuild Logo">
    </div>
</div>
<div class="centered-column">
    <form th:action="@{/login}" method="post" class="login-form">
        <h3>Unite, Collaborate, Geek Out: Join the Ultimate Tech Enthusiast Community!</h3>
        <label for="username">Email</label>
        <input id="username" name="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <input type="submit" value="Log In" />
<!--        <a href="/forgot-password">Forgot Password?</a>-->
        <br>
        <a th:href="@{/register}"><div>Create Account</div></a>
    </form>

</div>




<!--script files-->
<script th:include="partials/footer"></script>
</body>
</html>
