/* Custom styles for the modal */
.modal-body {
    background-color: #333333;
}
.modal-header {
    background-color: #ee8631;
    /*color: #fff;*/
}
.create-group-button {
    color: white;
    background-color: #333333 !important;
    border-color: #ee8631 !important;
}
.create-group-button:hover {
    border-color: #aefc4f !important;
    color: #aefc4f !important;
}
.cancel-create-group-button {
    background-color: #ffb74d;
    border-color: #ffb74d;
    color: #333333;
}
.cancel-create-group-button:hover {
    background-color: #ee8631;
    border-color: #ee8631;
    color: #fff;
}
#createGroupModal label {
    /*color: #8e09e7;*/
}
#createGroupModal .form-control {
    color: #f0f0f0 !important;
    background-color: #333333;
    border: 1px solid #8e09e7;
}

#createGroupModal .form-control::placeholder {
    color: #f0f0f0 !important;

}