body {
    background-color: #333333 !important;
    color: #8e09e7;
    font-family: 'Ubuntu', sans-serif !important;
    margin: 0; /* Reset default margin to avoid extra spacing */
    padding: 0; /* Reset default padding to avoid extra spacing */
}

h2 {
    font-family: 'Ubuntu', sans-serif !important;
    color: #e67e22 !important;
    text-align: center;
}

h3 {
    color:#e67e22 !important;
    text-align: center;
}

h6{
    color: #e67e22 !important;
}


.container {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: -2px -2px 6px rgba(142, 9, 231, 0.5);
    overflow: auto;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Optional: To make sure the container is centered vertically */
}

.content-wrapper {
    max-width:800px;
    margin: 20px;
}


label {
    color: #ee8631;
    font-size: 1.1em;
}

.project-head{
font-size: 1.3em;
}


input[type="text"],
input[type="email"],
textarea,
input[type="url"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ee8631;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}


.buttons-container {
    /* Create a row layout for the buttons container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button-group {
    /* Create a row layout for the buttons */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Add margin to create space between the buttons */
}

/* Style the buttons as needed */
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#save-profile-btn {
    border: none;
    border-radius: 5px;
    background-color: #e67e22;
    color: #fff;
    margin: 5px; /* Add margin to create space between the buttons */
}

#delete-btn {
    border: none;
    border-radius: 5px;
    background-color: #8e09e7;
    color: #fff;
    margin: 5px; /* Add margin to create space between the buttons */
}

button:hover {
    background-color: #aefc4f;
}


/* Add styles for the profile picture */
.logo {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #8fd93f;
    bottom: 5px;
    left: 10px;
    overflow: hidden;
}

/* Style for the "Upload Image" icon */
.upload-icon {
    background-color: #8fd93f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin to create space between .upload-icon and .logo */
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}



/* Add styles for the cover photo and update icon */
.profile-header-container {
    position: relative;
    width: 800px;
    margin: 20px auto; /* Center the .profile-header-container */
    /*height: 200px;*/
    background-color: #8e09e7;
    border-radius: 8px;
    box-shadow: -2px -2px 6px rgba(142, 9, 231, 0.5);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cover-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 9, 231, 0.8);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.upload-banner-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #8fd93f;
    font-size: 16px;
    text-decoration: none;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for the Skills section using CSS Grid layout */
.skills-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr)); /* Adjust the column size as needed */
    grid-gap: 20px; /* Adjust the spacing between each skill */
    margin-top: 10px;
    max-width: 800px; /* Adjust the container width as needed */
}

/* Flexbox item for each skill */
.skill-item {
    display: flex;
    align-items: center;
}

/* Move checkmarks to the left of icons and names */
.checkmark-container {
    position: relative;
    padding-left: 25px; /* Adjust the spacing between the checkmark and icon */
}

.checkmark {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #8fd93f;
    background-color: #fff;
}

.skills-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.skills-checkbox:checked ~ .checkmark {
    background-color: #8fd93f; /* Change the checkmark background color when checked */
}

.skill-content {
    display: flex;
    align-items: center;
}

.skill-icon {
    margin-right: 10px; /* Adjust the spacing between the checkmark and icon */
}

.skill-icon:before {
    font-size: 5em !important; /* Adjust the font size to make the icons larger */
}

.skill-name {
    white-space: nowrap; /* Prevent the skill name from wrapping to a new line */
    margin-left: 10px; /* Add space between the icon and the skill name */
}
