.middle-section {
    position: relative; /* Ensure relative positioning for child elements */
}


/* Make .view-post-container take up full height of .middle-section */

.view-groups-container {
    background-color: #343333;
    overflow-y: auto;
    border-radius: 20px; /* top-left, top-right, bottom-right, bottom-left */
    margin: 0 5px 15px 0; /* top, right, bottom, left */
    height: 100%; /* Take up full height of the parent (.middle-section) */

}

/* CSS for the container and top bar */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


/* Style the top bar */
.groups-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* You can change the color here */
    padding: 20px;
    margin-bottom: 10px;
    color: #e67e22; /* Change font color if necessary */
    border-radius: 10px 10px 0 0; /* Add rounded edges only to top */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow box effect */
    position: relative; /* Add relative positioning */
}


.suggested-groups-top-bar {
    position: sticky !important;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* You can change the color here */
    padding: 5px !important;
    margin: 10px 10px !important;
    color: #e67e22; /* Change font color if necessary */
    border-radius: 10px 10px 0 0; /* Add rounded edges only to top */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow box effect */
    z-index: 2
}

.group-heading{
    margin:0;
}

.user-profile {
    display: flex;
    align-items: center;
}

/* Styling for the user profile image */
.user-profile img {
    border-radius: 5px; /* Make the image square by setting border-radius */
    width: 100%; /* Take up 25% of its container */
    max-width: 50px; /* Limit the max-width of the image to avoid excessive size */
    height: auto; /* Let the height adjust automatically to maintain the aspect ratio */
    margin-right: 10px;
}


/* Style the Create Group button */
#createGroupBtn {
    background-color: #e67e22; /* Change the color of the button */
    color:#FFFFFF; /* Change font color if necessary */
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute; /* Add absolute positioning */
    top: 0;
    right: 0;
    /*margin: 5px; !* Add some margin for spacing *!*/
    margin: 15px;
}



/* Style for the group details */
.group-details {
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.groupname {
    color: #e67e22;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.groupname:hover {
    color: #8fd93f;
}

.members{
    color: #8fd93f;
    font-size: 20px;
}

.group-list-container {
    background-color: #f2f2f2;
    padding: 10px;
}

.post-card {
    margin-bottom: 10px; /* Add desired spacing between group list items */
}

.leave-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #e67e22;
    cursor: pointer;
    position: absolute; /* Add absolute positioning */
    top: 5px; /* Add top spacing to position the button at the top */
    right: 5px; /* Add right spacing to position the button at the right */
}

.leave-button:hover{
    color: #8fd93f;
}




