
/* Styles for the group name (h1) */
.top-right-section h1 {
    font-size: 24px !important;
    color: #e67e22 !important;
    margin-bottom: 5px;
}

/* Styles for the number of members (p) */
.top-right-section p {
    text-align: center;
    font-size: 18px !important;
    color: #8fd93f;/* Change the color to your desired one */
    margin: 0;
}

/* Styles for the profile image */
.profile-img {
    display: block; /* To allow horizontal centering */
    margin: 10px auto 0; /* Center the image horizontally and apply top margin */
    width: 50%; /* Adjust the image width as needed */
    max-width: 200px; /* Limit the maximum width of the image */
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}