.logo{
    width: 20px;
    height: 20px;
}

body {
    background-color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.centered-column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: transparent;
    border-radius: 8px;
    box-shadow: -2px -2px 6px rgba(142, 9, 231, 0.5);
    padding: 40px;
    width: 300px;
}




.login-form h3 {
    animation: colorWaterfall 50s infinite;
}

@keyframes colorWaterfall {
    0% { color: #8e09e7; }
    20% { color: #ffb74d; }
    40% { color: #ee8631; }
    60% { color: #aefc4f; }
    80% { color: #8e09e7; }
    100% { color: #aefc4f; }
}
