body {
    background-color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #8e09e7 ;
}


.logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50px;
    right: 0;
    padding: 5px;
}


.centered-column {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 70px; /* Add margin to the left to separate the logo container */
}


.login-form {
    background-color: transparent;
    border-radius: 8px;
    box-shadow: -2px -2px 6px rgba(142, 9, 231, 0.5);
    padding: 40px;
    width: 300px;
}


.login-form h3 {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #aefc4f;
    font-weight: bold;
    animation: colorWaterfall 15s infinite;
}

@keyframes colorWaterfall {
    0% { color: #8e09e7; }
    20% { color: #ffb74d; }
    40% { color: #ee8631; }
    60% { color: #aefc4f; }
    80% { color: #8e09e7; }
    100% { color: #aefc4f; }
}

a{
    color: #aefc4f;
}

.login-form label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: left;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 1rem;
    /*background-color: #ee8631;*/
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #ee8631;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form input[type="submit"]:hover {
    background-color: #8e09e7;
}

