

/*NAVBAR CSS*/

/* Navbar Background Color */
.navbar {
    padding: 0;
    /*background-color: transparent !important;*/
    /*border-radius: 8px !important;*/
    /*box-shadow: -2px -2px 12px rgba(238, 134, 49, 0.75) !important;*/
    box-shadow : 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: #8E09E7;
    /*border: purple solid 2px !important;*/
}

/* Navbar Brand Text Color */
.navbar-brand {
    color: #ccc !important;
}

/* Add a circular shape to the profile picture div */
.nav-profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

/* Ensure the image inside the circular div covers the whole area */
.nav-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



 /*Navbar Toggler Icon*/
.navbar-toggler {
    background-color: #ee8631;
    /*border-color: #ee8631 !important;*/
}

.fa-bars{
    color: #8e09e7 !important;
}
.fa-bars:hover{
    color: #8fd93f !important;
}



/* Navbar Links Text Color */
.navbar-nav .nav-link {
    color: #f0f0f0 !important;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    transition: all 0.3s;
}

/* Active Navbar Link Text Color */
.navbar-nav .nav-link.active {
    color: #aefc4f !important;
}

/* Dropdown Menu Background Color */
.dropdown-menu {
    background-color: #333333 !important;
}

/* Dropdown Menu Item Text Color */
.dropdown-item {
    color: #ccc !important;
}

/* Dropdown Menu Item Hover Background Color */
.dropdown-item:hover {
    background-color: #ee8631 !important;
    color: #ccc !important;
}

/* Search Input Text Color */
.form-control {
    color: #333333 !important;
}

/* Search Input Placeholder Color */
.form-control::placeholder {
    color: #8e09e7 !important;
}

/* Search Input Border Color */
.form-control {
    border-color: #8e09e7 !important;
}

/* Search Button Color */
/*.search-button {*/
/*    color: #ee8631 !important;*/
/*    border-color: #aefc4f !important;*/
/*    margin: 0 12px 0 0; !* top, right, bottom, left *!*/

/*}*/

/* Search Button Hover Background Color */
/*.search-button:hover {*/
/*    background-color: #aefc4f !important;*/
/*    color: #ee8631 !important;*/
/*}*/

/* Logout Button Color */
.logout-button {
    color: #000000 !important;
    background-color: #ee8631 !important;
}

/* Logout Button Hover Background Color */
.logout-button:hover {
    /*background-color: #8e09e7 !important;*/
    color: #8E09E7 !important;
}

/* NEW FRIEND REQUEST MODAL BUTTON Styles */
#newFriendRequestBtn {
    /*height: 50%;*/
    margin-right: 15px;
    /*background-color: #64c757 !important;*/
    /*border-color: #ee8631 !important;*/
}

#newFriendRequestBtn:hover {
    border-color: #05062d !important;
    color: #8E09E7 !important;
}

/*!* NEW FRIEND REQUEST MODAL Styles *!*/
/*#receivedFriendRequestModal .modal-header {*/
/*    background-color: #ee8631 !important;*/
/*    color: white !important;*/
/*}*/

/*#receivedFriendRequestModal .modal-body {*/
/*    background-color: #333333 !important;*/
/*    color: #ccc !important;*/
/*}*/

/*#receivedFriendRequestModal .modal-footer {*/
/*    background-color: #333333 !important;*/
/*    color: #ccc !important;*/
/*}*/

/*#receivedFriendRequestModal .btn-primary {*/
/*    background-color: #ee8631 !important;*/
/*    border-color: #ee8631 !important;*/
/*}*/

/*#receivedFriendRequestModal .btn-primary:hover {*/
/*    border-color: #aefc4f !important;*/
/*    color: #aefc4f !important;*/
/*}*/

/*#receivedFriendRequestModal .btn-danger {*/
/*    background-color: #8e09e7 !important;*/
/*    border-color: #8e09e7 !important;*/
/*}*/

/*#receivedFriendRequestModal .btn-danger:hover {*/
/*    border-color: #ee8631 !important;*/
/*}*/

.navbar-nav::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar track */
    background-color: transparent; /* Track color */
    border-radius: 0 20px 20px 0; /* top-left, top-right, bottom-right, bottom-left */
    /*border: #708090 solid 2px;*/}

.navbar-nav::-webkit-scrollbar-track {
    background-color: transparent;
}

.navbar-nav::-webkit-scrollbar-thumb {
    background-color: #8e09e7; /* Thumb color */
    border-radius: 8px; /* top-left, top-right, bottom-right, bottom-left */
    height: 15px !important;}

/* Hover styles for the scrollbar */
.navbar-nav::-webkit-scrollbar-thumb:hover {
    background-color: #ffb74d; /* Thumb color on hover */
}

.navbar-nav::-webkit-scrollbar-thumb:active {
    background-color: limegreen;
}


/* Custom tooltip(popover) style */
.tooltip {
    background-color: #ee8631 !important; /* Change the background color */
    color: #aefc4f !important;
    font-size: 14px !important;
    border: 1px solid #ccc !important; /* Add a border */
}

/* Custom tooltip arrow style */
.tooltip .tooltip-arrow {
    border-top-color: #8e09e7 !important; /* Match the background color of the tooltip */
}




/* Modal header background color */
#receivedFriendRequestModal .modal-header {
    background-color: #ee8631;
    color: white;
}

/* Modal body background color */
#receivedFriendRequestModal .modal-body {
    background-color: #333333;
    color: white;
}

/* Modal footer background color */
#receivedFriendRequestModal .modal-footer {
    background-color: #333333;
    color: white;
}

/* Button styles */
#receivedFriendRequestModal .btn-primary {
    background-color: #ee8631;
    border-color: #ee8631;
}

#receivedFriendRequestModal .btn-primary:hover {
    /*background-color: var(--lime-green-color);*/
    border-color: #aefc4f;
    color: #aefc4f;
}

#receivedFriendRequestModal .btn-danger {
    background-color: #8e09e7;
    border-color: #8e09e7;
}

#receivedFriendRequestModal .btn-danger:hover {
    border-color: #ee8631;
}

/*FANCY BUTTONS*/
.fancy-logout {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    /*min-width: 140px;*/
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.fancy-logout:active,
.fancy-logout:hover {
    outline: 0;
}

.fancy-logout span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.fancy-logout:hover span {
    background: none;
}

.fancy-logout:active {
    transform: scale(0.9);
}

/*Fancy request btn*/
/*.btn-request {*/
/*    padding: 1.3em 3em;*/
/*    font-size: 12px;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 2.5px;*/
/*    font-weight: 500;*/
/*    color: #000;*/
/*    background-color: #000;*/
/*    border: none;*/
/*    border-radius: 45px;*/
/*    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);*/
/*    transition: all 0.3s ease 0s;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*}*/
/*.btn-request {*/
/*    height: 30px;*/
/*    width: 30px;*/
/*    display: grid;*/
/*    place-items: center;*/
/*    background: #e3edf7;*/
/*    padding: 1.4em;*/
/*    border-radius: 10px;*/
/*    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),*/
/*    -6px -6px 10px -1px rgba(255,255,255,0.7);*/
/*    border: 1px solid rgba(0,0,0,0);*/
/*    cursor: pointer;*/
/*    transition: transform 0.5s;*/
/*}*/
.btn-request {
    position: relative; /* Add this to make the position context for the bubble */
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ee8631;
    padding: 1.4em;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(103, 103, 103, 0.7);
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
}

.btn-request:hover {
    /*box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),*/
    /*inset -4px -4px 6px -1px rgba(255,255,255,0.7),*/
    /*-0.5px -0.5px 0px rgba(255,255,255,1),*/
    /*0.5px 0.5px 0px rgba(0,0,0,0.15),*/
    /*0px 12px 10px -10px rgba(0,0,0,0.05);*/
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.2em);
}

.btn-request i {
    transition: transform 0.5s;
}

.btn-request:hover i {
    transform: scale(0.9);
    fill: #333333;
}

.badge {

}

.friend-request-bubble {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
