

/*NEW FRIEND REQUEST MODAL CSS*/
:root {
    --background-color: #333333;
    --lime-green-color: #aefc4f;
    --logo-orange-color: #ee8631;
    --glasses-orange-color: #ffb74d;
    --text-purple-color: #8e09e7;
}

/* Modal header background color */
#receivedFriendRequestModal .modal-header {
    background-color: var(--logo-orange-color);
    color: white;
}

/* Modal body background color */
#receivedFriendRequestModal .modal-body {
    background-color: var(--background-color);
    color: white;
}

/* Modal footer background color */
#receivedFriendRequestModal .modal-footer {
    background-color: var(--background-color);
    color: white;
}

/* Button styles */
#receivedFriendRequestModal .btn-primary {
    background-color: var(--glasses-orange-color);
    border-color: var(--glasses-orange-color);
}

#receivedFriendRequestModal .btn-primary:hover {
    /*background-color: var(--lime-green-color);*/
    border-color: var(--lime-green-color);
    color: var(--lime-green-color);
}

#receivedFriendRequestModal .btn-danger {
    background-color: var(--text-purple-color);
    border-color: var(--text-purple-color);
}

#receivedFriendRequestModal .btn-danger:hover {
    border-color: var(--glasses-orange-color);
}





/*NAVBAR CSS*/

/* Navbar Background Color */
.navbar {
    background-color: slategrey !important;
}

/* Navbar Brand Text Color */
.navbar-brand {
    color: white;
}

/* Navbar Toggler Icon Color */
.navbar-toggler-icon {
    color: white;
}

/* Navbar Links Text Color */
.navbar-nav .nav-link {
    color: white;
}

/* Active Navbar Link Text Color */
.navbar-nav .nav-link.active {
    color: var(--lime-green-color);
}

/* Dropdown Menu Background Color */
.dropdown-menu {
    background-color: var(--background-color);
}

/* Dropdown Menu Item Text Color */
.dropdown-item {
    color: white;
}

/* Dropdown Menu Item Hover Background Color */
.dropdown-item:hover {
    background-color: var(--logo-orange-color);
    color: white;
}

/* Search Input Text Color */
.form-control {
    color: var(--background-color);
}

/* Search Input Placeholder Color */
.form-control::placeholder {
    color: var(--text-purple-color);
}

/* Search Input Border Color */
.form-control {
    border-color: var(--text-purple-color);
}

/* Search Button Color */
.btn-outline-success {
    color: var(--background-color);
    border-color: var(--lime-green-color);
}

/* Search Button Hover Background Color */
.btn-outline-success:hover {
    background-color: var(--lime-green-color);
    color: var(--background-color);
}

/* Logout Button Color */
#logout .btn {
    color: var(--background-color);
    border-color: var(--text-purple-color);
}

/* Logout Button Hover Background Color */
#logout .btn:hover {
    background-color: var(--text-purple-color);
    color: var(--background-color);
}

/* NEW FRIEND REQUEST MODAL BUTTON Styles */
#newFriendRequestBtn {
    background-color: var(--glasses-orange-color);
    border-color: var(--glasses-orange-color);
}

#newFriendRequestBtn:hover {
    border-color: var(--lime-green-color);
    color: var(--lime-green-color);
}

/* NEW FRIEND REQUEST MODAL Styles */
#receivedFriendRequestModal .modal-header {
    background-color: var(--logo-orange-color);
    color: white;
}

#receivedFriendRequestModal .modal-body {
    background-color: var(--background-color);
    color: white;
}

#receivedFriendRequestModal .modal-footer {
    background-color: var(--background-color);
    color: white;
}

#receivedFriendRequestModal .btn-primary {
    background-color: var(--glasses-orange-color);
    border-color: var(--glasses-orange-color);
}

#receivedFriendRequestModal .btn-primary:hover {
    border-color: var(--lime-green-color);
    color: var(--lime-green-color);
}

#receivedFriendRequestModal .btn-danger {
    background-color: var(--text-purple-color);
    border-color: var(--text-purple-color);
}

#receivedFriendRequestModal .btn-danger:hover {
    border-color: var(--glasses-orange-color);
}
