
/* Custom CSS styles */
body {
    background-color: #333333 !important;
    color: #f5f5f5;
    margin: 0;
    font-family: 'Ubuntu', sans-serif !important;
}


.page-container {
    max-width: 900px; /* Adjust the value to control the overall page width */
    margin: 0 auto;
    padding: 20px; /* Add some padding to separate content from the edge of the page */
}

/* Custom scrollbar */
.container {
    background-color: #444444;
    color: #f5f5f5;
    padding: 20px 40px;
    border-radius: 20px;
   border: 2px solid #8e09e7;
}

.profile-picture-profile {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #8fd93f;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* Change the position to relative */
    top: -20px; /* Adjust the value to move the profile picture up */
    left: 20px; /* Adjust as needed */
    z-index: 1; /* You can set it back to 1 as it's not necessary to change it here */
}

profile-picture {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #8fd93f;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* Change the position to relative */
    top: -20px; /* Adjust the value to move the profile picture up */
    left: 20px; /* Adjust as needed */
    z-index: 1; /* You can set it back to 1 as it's not necessary to change it here */
}


.profile-info {
    position: absolute;
    bottom: 0;
    left: 210px; /* Adjust as needed */
    z-index: 1;
}


.profile-name {
    color: #e67e22;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.profile-title {
    color: #aefc4f;
    font-size: 18px;
}

.profile-contact-info li {
    margin-bottom: 10px;
}

.profile-skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.profile-skills span {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #e67e22;
    color: #333333;
    border-radius: 4px;
}



.edit-icon-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1; /* Ensure the edit icon is above the rest of the content */
}

.edit-icon {
    position: fixed;
    top: 90px; /* Adjust this value based on the height of your navbar */
    right: 20px;
    z-index: 1;
}


.fas {
    color: #8fd93f;
    font-size: 32px;
}


.fas:hover {
    color: #8e09e7;
}

.about-me-container {
    margin-top: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    color: #e67e22;
    border: 3px solid #8e09e7 !important;
    /*box-shadow: inset 0 2px 4px rgb(142, 9, 231, 0.5);*/

}

.section-container {
    margin-top: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    border: 3px solid #8e09e7 !important;
    /*box-shadow: inset 0 2px 4px rgb(142, 9, 231, 0.5);*/
    color: #000000;
}

/* Add styles for section headers */
.section-header {
    font-size: 24px;
    color: #aefc4f;
    margin-top: 0;
    margin-bottom: 10px;
}

.section-container p {
    color: #e67e22;
}

.profile-header-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    border-radius: 8px;
   border: 2px solid #8e09e7;
    display: flex;
    align-items: flex-end; /* Align the content to the bottom */
    overflow: hidden; /* Ensure that the cover photo doesn't overflow the container */
}


.profile-header-container::before {
    content: "Cover Photo Placeholder";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#8e09e7; /* Gray color for the placeholder */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align the placeholder text to the bottom */
    padding-bottom: 20px; /* Adjust as needed to move the text up or down */
    color: #fff;
    font-size: 24px;
    z-index: -1; /* Send the placeholder to the background */
}

.cover-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8e09e7;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

.icon-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    margin: 10px;
    z-index: 1;
    border: 2px solid #8e09e7;
}

.icon-link {
    display: inline-flex;
    align-items: center; /* Center the icon and text vertically */
    font-size: 32px; /* Adjust the icon size as needed */
    margin: 40px; /* Add spacing between the icons */
    color: #8fd93f; /* Make the icons white */
    text-decoration: none;
    transition: color 0.3s; /* Add smooth transition for color change on hover */
}

.icon-link:hover {
    color: #8e09e7/* Change the icon and link text color on hover */
}


.skill-icon {
    font-size: 25px; /* Adjust the size as needed */
    margin-right: 20px; /* Adjust the spacing between icons */
    color: #e67e22 /* Change the color to #ffb74d */
}

.profile-email {
    font-size: 20px; /* Adjust the font size as needed */
    color: #8fd93f;
}


.project-link{
    color: #e67e22;
    text-decoration: none;
}

.profile-link:hover{
    color: #8fd93f;
}



