/* Card Container */
.card-container {
    height: 30%; /* Set the width to 50% of the parent container minus the margin */
    /*margin: 5px; !* Adjust the margin to create a gap between the cards *!*/
    border: 1px solid #333333;
    border-radius: 8px;
    /*padding: 10px; !* top, right, bottom, left *!*/
    margin: 10px; /* top, right, bottom, left */
    /*width: 100%;*/
    box-shadow : inset 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: #333333;
    display: flex; /* Add display flex to create a column layout */
    flex-direction: column; /* Set the flex direction to column */
    align-items: center; /* Center items horizontally */
    position: relative; /* Add this to set a relative position for the container */

}

/* Banner Image */
.banner-img {
    width: 100%;
    height: 25%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: cover;
    background-position: center;
}

/* Profile Image */
.profile-img-container {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-top: -10%; /* Adjust the margin to vertically center the profile image */
    overflow: hidden; /* Hide any overflowing content */
    background-color: #e0e0e0; /* Lime Green */
    position: relative;
    z-index: 1; /* Ensures the profile image is above the banner image */
}

.profile-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* Name */
.name h3 {
    font-size: 1rem;
    z-index: 99;
    text-align: center;
    font-weight: bold;
    color: #ee8631; /* Logo Orange */
    margin-top: 5px; /* Add some space between the profile image and the name */
}

/* Headline */
/*.headline {*/
/*    text-align: center;*/
/*    color: #ffb74d; !* Glasses Orange *!*/
/*    font-size: 1rem;*/
/*    margin-bottom: 10px;*/
/*}*/

/* Connect Button */
.connect-btn {
    display: block;
    width: 90%;
    margin: 0 5px 5px 5px; /* top, right, bottom, left */
    text-align: center;
    background-color: #8e09e7; /* Text Purple */
    color: #fff;
    /*padding: 8px 0 0 0; !* top, right, bottom, left *!*/
    border-radius: 8px;
    text-decoration: none;
}

/* Icon */
.icon {
    margin-right: 5px;
}

